* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(../image/bg.jpg) no-repeat top center;
}
header {
  position: relative;
  background: url(../image/head_bg.png) no-repeat;
  height: 1.25rem;
  background-size: 100% 100%;
}
header h1 {
  color: #fff;
  line-height: 1rem;
  font-size: 0.375rem;
  text-align: center;
}
header #showTime {
  position: absolute;
  right: 0.375rem;
  line-height: 0.9375rem;
  font-size: 0.25rem;
  top: 0;
  color: rgba(255, 255, 255, 0.7);
}
