#Menu_Left {
  float: left;
  width: 240px;
  height: 529px;
  margin-right: 20px;
  text-align: center;
  background-color: red;
}
/**若屏幕宽度小于767px，则不显示左侧菜单 */
@media (max-width: 767px) {
#Menu_Left {
  display: none;
}
}
#Menu_Left a:hover {
color: #222;
background: #f5f7f9;
}

.Menu_name {
background: rgb(38, 42, 48);
color: white;
padding: 20px 0;
}
nav {
background: white;
padding: 20px 0 0;
}

.nav {
  padding: 6px 30px;
  text-align: left;
}
.router_picture {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 5px;
}
.info {
  padding: 15px;
  background: white;
}

.info_name {
font-weight: 600;
padding: 5px;
}

.info img {
width: 120px;
height: 120px;
}

.archive .archive_count {
color: #222;
font-weight: 600;
font-size: 16px;
}

.archive .archive_name {
color: #999;
font-size: 20px;
padding-right: 5px;
}

.communication {
  margin-top: 20px;
  padding-left: 8px;
}
.communication_item {
  margin-top: 10px;
  text-align: left;
}
.communication_item:hover{
  background-color: #cccc;
}
.communication_item .picture{
  margin-right: 5px;
  vertical-align: middle;
}
.communication_item .text {
  font-size: 16px;
  padding-left: 2px;
  text-align: left;
}
.communication_item .facebook {
  width: 18px;
  height: 21px;
}
.communication_item .github {
  width: 21px;
  height: 23px;
}
.communication_item .twitter {
  width: 20px;
  height: 20px;
}
.communication_item .qq {
  width: 19px;
  height: 16px;
}

